.logo-container{
    width: 7vw;
    height: 5vw;
    margin: auto;
    margin-top: 2vw;
    position: relative;
    overflow: hidden;
  }
  
  .logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
  }
  
  .loginThrough-container{
    margin: 1vw 0 1vw 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .loginThrough{
      background: none;
      border: 1px solid rgb(209, 204, 204);
      border-radius: 2px;
      display: inline-block;
      padding: 0.6vw 3vw;
      transition: background-color 0.5s ease, color 0.5s ease;
    }
    
    .loginThrough:hover{
      background-color: lightgray;
    }
    
    .login-hr{
      display: inline-block;
      width: 44%;
      opacity: 0.5;
      height: 1px;
      background-color: rgb(176, 176, 178);
      border: none;
    }
    
    .login-input{
      border: none;
      outline: none;
      background-color: rgb(217, 213, 213);
      border-radius: 0.2vw;
      color: rgb(41, 40, 40);
      display: block;
      width: 100%;
      height: 2vw;
      padding: 1px;
      padding-left: 5px;
      font-weight: bold;
      font-size: large;
    }
  
    .password-container{
      display: flex;
      align-items: center;
    }
    
    .login-input:focus {
      background-color: #e0e0e0; /* Slightly darker grey background */
      border: none;
    }
    
    .login-field{
      font-size: medium;
      text-align: left;
    }
    
    .login-container{
      display: flex;
      margin: 0;
      padding: 0;
      height: 100%;
      background-color: #BAB5AE;
    }
    
    .remember-me{
      margin: 1vw auto;
      transform: scale(1.2);
      width: 83%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items:center;
    }
  
    .remember-me-left{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items:center;
    }
  
    .remember-me h1{
      font-size: 70%;
      text-align: left;
    }
    
    .login-left-container {
      padding: 0 10vw;
      flex: 1;
      justify-content: center;
      align-items: center;
      background-color: rgb(239, 238, 237);
    }
    
    .sign-in{
      width: 100%;
      background-color: black;
      color: white;
      border-radius: 2vw;
      margin-top: 1vw;
      margin-bottom: 1vw;
      height: 4vw;
      border: none;
      transition: opacity 0.5s ease, color 0.5s ease;
    }
    
    .sign-in:hover{
      opacity: 0.7;
    }
  
    @media screen and (max-width: 650px)
    { 
      .logo-container{
        width: 50%;
        height: 50%;
      }
  
      .please-enter-details{
        font-size: 100%;
      }
  
      .loginThrough-container{
        width: 40%;
        transform: scale(2.5);
        margin: 15% auto;
      }
      
      .loginThrough{
          background: none;
          border: 1px solid rgb(209, 204, 204);
          border-radius: 2px;
          display: inline-block;
          padding: 0.6vw 2vw;
          transition: background-color 0.5s ease, color 0.5s ease;
        }
  
        .login-field{
          font-size: 120%;
        }
        
        .login-input{
          height: 5vw;
        }
      
        .password-container{
          display: flex;
          align-items: center;
        }
        
        .login-input:focus {
          background-color: #e0e0e0; /* Slightly darker grey background */
          border: none;
        }
        
        .login-container{
          display: block;
          margin: 0;
          padding: 10% 5%;
          height: 100%;
          background-color: rgb(239, 238, 237);
        }
        
        .login-image-container {
          visibility: hidden;
          display: none;
        }
        
        .login-image-container img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
  
        .remember-me{
          margin: 2vw auto;
          transform: scale(1.2);
          width: 85%;
        }
      
        .remember-me-left{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items:center;
        }
      
        .remember-me h1{
          font-size: 70%;
        }
        
        .login-left-container {
          display: block;
          background-color: rgb(239, 238, 237);
        }
        
        .sign-in{
          height: 10vw;
          margin: 2% 0;
          font-size: 100%;
        }
    }